<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ScoreboardApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>03FAFDFD1F0FAFE900F6AA3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03FAFE111F0FAFE900F6AA3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03FAFE1C1F0FAFE900F6AA3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
